section button {
  display: block;
  margin: 1.5rem 0 0;
  padding: 1.17em 1.5rem;
  font: inherit;
  font-size: .89em;
  font-weight: bold;
  line-height: 1.15;
  color: #f5f5f5;
  background: #24304c;
  border: 0;
  border-radius: .34rem;
  cursor: pointer;
  appearance: none;
  transition: opacity 73ms ease-out;

  &:active, &:focus {
    color: #fff;
    background: #1c356c;
  }
  &:hover {
    opacity: .95;
  }
}
